/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Raleway', sans-serif;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--Banner stats here--*/
.header-inner {
    padding: 1em 0;
}
h1.logo {
    float: left;
    border-right: 10px solid rgba(255, 255, 255, 0.29);
	border-bottom: 10px solid rgba(255, 255, 255, 0.29);
    border-left: 10px solid rgba(68, 199, 244, 0.37);
	border-top: 10px solid rgba(68, 199, 244, 0.37);
    padding: 5px 5px;
    position: relative;
    font-size: 47px;
    letter-spacing: 6px;
    font-family: 'Dancing Script', cursive;
}
h1 span {
    color: #EA3621;
    display: block;
    font-size: 36px;
    letter-spacing: 6px;
    padding-left: 53px;
}
h1.logo a {
    color: rgba(255, 255, 255, 0.73);
    text-decoration: none;
    display: block;
}
/*-- //logo --*/
/*-- top-nav --*/
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
    float: left;
    margin: 2.3em 0 0 2em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-nav > li {
   margin: 0 7px;
}
.navbar-default .navbar-nav > li > a {
    color: #bfb992;
    font-size: 14.5px;
    padding: 0.5em 1em;
    border: 3px solid transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
}
ul.nav.navbar-nav.navbar-right li:nth-child(6) a {
    padding-right: 0!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
    color: #ffffff;
    background: none!important;
    border-right: 3px solid rgba(255, 255, 255, 0.29);
    border-bottom: 3px solid rgba(255, 255, 255, 0.29);
    border-left: 3px solid rgba(68, 199, 244, 0.37);
    border-top: 3px solid rgba(68, 199, 244, 0.37);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
.header-right-w3ls {
    float: right;
    margin-top: 42px;
}
.header-right-w3ls a {
    font-size: 17px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    padding: 8px 25px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    background: rgba(0, 0, 0, 0.24);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.header-right-w3ls a:hover {
    background: rgba(255, 255, 255, 0.13);
}
/*--//header--*/
/*--banner-slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-79%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
	display:block;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
}
.callbacks_nav.next {
    background: transparent url(../images/down.png) no-repeat 0px 0px;
    /* left: 80%; */
    /* height: 65px; */
    /* width: 65px; */
    /* top: 53%; */
    left: auto;
    left: 4%;
}
.callbacks_nav.prev {
    background: transparent url(../images/up.png) no-repeat 0px 0px;
    left: 0%;
    /* height: 65px; */
    /* width: 65px; */
    /* top: 53%; */
    /* right: auto; */
    /* background-position: left top; */
    /* left: 46%; */
}
.callbacks_nav.next, .callbacks_nav.prev {
    background-size: 22px;
    width: 22px;
    height: 22px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: -77%;
    left: 44%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0 5px;
}
.animated {
    z-index: 99;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f004";
    font-size: 13px;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
	color:#fff;
    /* height: 14px; */
    /* width: 14px; */
    display: inline-block;
    /* background: #fff; */
    /* border-radius: 50%; */
    /* -webkit-border-radius: 50%; */
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
	background:none;
	color:#EA3621;
}
/*----*/
.banner-w3ls .agileits-social {
    margin: 12em 0em 0em 0em;
}
.banner-w3ls {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    /* padding-bottom: 2.5em; */
    min-height: 750px;
}
.logo-w3layouts h1 a {
    position: absolute;
    z-index: 99;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    left: 5em;
    top: 1.8em;
	font-size: 1.1em;
    font-weight: 700;
	text-decoration:none;
}
.logo-w3layouts h1 a span {
    color: #e84f5a;
}
.header {
    position: absolute;
    z-index: 9999;
    top: 0%;
    left: 10.2%;
    width: 80%;
    background: #fff;
}
.w3l_banner_info {
    text-align: left;
}

.slider_banner_info {
    position: absolute;
    top: 26%;
    left: 19%;
    z-index: 999;
    padding: 13em 30em;
    border: 25px solid rgba(0, 0, 0, 0.69);
}
.w3ls-info {
    width: 80%;
}
 .w3ls-info h4 {
    font-size: 45px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 3em;
}
.w3ls-info h4 span{
	display: block;
    font-size: 2em;
    padding: .4em .5em;

	color:#fff;
}
.w3ls-info p {
    color: #fff;
    font-size: 1.6em;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-family: 'Dancing Script', cursive;
}
.w3ls-info h4 i{
	display: block;
    font-style: normal;
    padding: .4em .5em;
    color: #212121;
    width: 22%;
}
a.read{
	font-size:1.1em;
	color:#333;
	background:#fff;
	padding:0.6em 2em;
}
img.img-responsive {
    width: 100%;
}
/*-- //Slider --*/
/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #000;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.modal-content h5 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.modal-content p{
	color:#636363;
	font-size:14px;
	line-height:25px;
	    padding-top: 10px;
}
.modal-header {
    padding: 8px;
}
/*--//modal--*/
/*-- //Banner-Slider --*/
.button12{
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
.button12 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}
.button12 a{
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.button12:hover a{
	color:#fff;
}
.button12::before{
	content: '';
	position: absolute;
	top: 50px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 190px solid rgba(255,255,255,0.25);
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.button12::after{
	content: '';
	position: absolute;
	top: 50px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 190px solid rgba(255,255,255,0.25);
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.button12::after{
	-webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}
.button12:hover::before{
	opacity: 1;
	-webkit-transform: translate(0px,-190px);
	transform: translate(0px,-190px);	
}
.button12:hover::after{
	opacity: 1;
	-webkit-transform: translate(0px,-150px);
	transform: translate(0px,-150px);	
}
.sim-button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 31px;
    width: 16.9%;
    display: inline-block;
    cursor: pointer;
	background:rgba(0, 0, 0, 0.24);
}
/*--//Banner ends here--*/
/*-- social icons --*/
.agileits-social {
    float: right;
}
.agileits-social ul{
	padding:0;
	margin:0;
	margin-top: 8px;
}
.agileits-social ul li{
	display:inline-block;
}
.agileits-social ul li a {
	color: #333;
    text-align: center;
}
.agileits-social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #3b5998;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-facebook:hover {
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
     background: #1da1f2;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-twitter:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
     background: #f26522;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-rss:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
      background: #45668e;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-vk:hover{
    opacity: 0.8;
}
.agileits-social ul li:nth-child(2){
	margin:0 .5em;
}
.agileits-social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
/*-- social icons --*/
/*-- services --*/
.w3l_head1,.w3ls_head_para1{
	text-align:center;
}
.w3l_head1:before,.w3l_head1:after{
	width:10% !important;
}
.w3l_head1:before {
    left: 35% !important;
}
.w3l_head1:after {
    right: 35% !important;
}
.w3_agileits_services_grid{
	text-align:center;
	padding: 0;
}
.w3_agileits_services_grid_agile {
    padding: 1em;
}
.w3_agileits_services_grid_1 {
    width: 100px;
    height: 100px;
    border: 2px solid #EA3621;
    margin: 15px auto 0;
    border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.w3_agileits_services_grid_1 i {
    color: #000;
    font-size: 2.3em;
    line-height: 2.6em;
}
.w3_agileits_services_grid_agile h3 {
    text-transform: capitalize;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: #000;
    margin: 1.5em 0 0em;
    padding-bottom: 1em;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.w3_agileits_services_grid_agile h3:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 20%;
    height: 2px;
    background: #EA3621;
    left: 40%;
    bottom: 0;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3:after {
    background: #44c7f4;
    width: 60%;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile{
	/*background: #002e5b;*/
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_1{
	background:#fff;
	border:2px solid #fff;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3{
	color:#EA3621;
}
.w3_agileits_services_grid {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 50%;
    float: left;
}
.form-bg-w3ls input[type="text"], .form-bg-w3ls input[type="email"], .form-control,.form-bg-w3ls textarea {
    width: 100%!important;
    padding: 8px 10px!important;
    height: 39px;
    font-weight: normal;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgb(64, 64, 64);
    color: #ffffff !important;
    outline: none;
    font-size: 14px;
    margin: 15px 0px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Source Sans Pro', sans-serif;
}
.form-bg-w3ls textarea {
	resize:none;
	height:60px;
}
.form-control {
    box-shadow:none;
}
.form-control option {
    background: #000;
}
.form-control:hover,.form-control:focus{
    outline:none;
	box-shadow:none;
	border-bottom: 2px solid rgb(218, 202, 224);
}
.form-bg-w3ls input[type="submit"]:hover {
    background: #ffffff;
    color: #000;
}
.form-bg-w3ls input[type="submit"] {
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 3em;
    border: 1px solid #fff;
    outline: none;
    letter-spacing: 1px;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.form-bg-w3ls {
    padding: 3em 2em;
    width: 85%;
    margin: 0em auto 0;
    background: rgb(14, 14, 14);
    text-align: center;
}
h3.subhead-agileits {
    color: #000;
    font-size: 21px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 29px;
    text-align: center;
    margin: 0 0 .3em;
}
/*-- //services --*/
/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #000;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.modal-content h5 {
    color: #f63f0e;
    padding: 15px 0 7px;
    font-size: 22px;
}
.modal-content p{
	color:#636363;
	font-size:14px;
	line-height:25px;
	    padding-top: 10px;
}
.modal-header {
    padding: 30px;
}
/*--//modal--*/
/*-- //Banner-Slider --*/
/*-- main --*/
.banner-btm-w3layouts,.gallery,.w3ls-team,.test,.middle-section-agileits-w3layouts,.contact,.newsletter,.services,.elite-app{
	padding: 5em 0em;;
}
.tittle-agileinfo{
	margin-bottom:2.5em;
}
.tittle-agileinfo h3 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.5em;
    color: #000;
    font-family: 'Dancing Script', cursive;
	text-transform:capitalize;
}
.white-w3ls{
	color:#fff!important;
}
.para-agileits-w3layouts {
    font-size: 16px;
    color: #777;
    letter-spacing: .6px;
    line-height: 33px;
}
.inner-banner-agileits{
    min-height: 210px!important;
}
/*-- //main --*/
/*-- About --*/
.button a {
    padding: 12px 35px;
    position: absolute;
    top: 9.5em;
    left: 16.5em;
    display: inline-block;
    background: rgba(0, 0, 0, 0.61);
    color: #fff;
    outline: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.button span {
    font-size: 35px;
    color: #fff;
    margin-top: 3px;
}
.about-left-agileits {
    background: url(../images/about.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    /* margin-left: 130px; */
    width: 40%;
    float: left;
    padding: 0;
    min-height: 360px;
    position: relative;
}
.about-right {
    padding: 5em 6em;
    width: 60%;
    float: left;
    background: #0e0e0e;
}
.about-right .sim-button {
    width: 192px!important;
}
/*--team--*/
.w3ls-team p.w-text {
    margin-top: 1em;
}
.w3ls-team-grids {
    border: 1px solid #44c7f4;
    padding: 4em 2em;
    width: 22.5%;
    position: relative;
    transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
    overflow: hidden;
	text-align: center;
}
.w3ls-team-grids.team-mdl,.w3ls-team-grids.team-mdl1 {
    margin: 0 2.37em;
}
.w3ls-team-grids.team-mdl1 {
    margin-left: 0em!important;
}
.w3ls-team-grids h5 {
    font-size: 1.8em;
    color: #333;
}
.w3ls-team-grids p {
	margin-top: 1em;
}
.team-row .social-icons {
    margin: 1em 0 0;
}
.team-img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #8EB021;
    width: 100%;
    height: 100%;
	transition: .7s all;
	-webkit-transition: .7s all;
	-moz-transition: .7s all;
}
.team-img img {
    width: 100%;
}
.w3ls-team-grids:hover div.team-img {
	top:100%;
}
.w3ls-team-grids h5 {
    font-size: 25px;
    color: #24282e;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: 2px;
}
.w3ls-team-grids p {
    color: #969595;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}
.w3l-abt-social-icons a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-clip: content-box;
    transition: .5s;
    color: #545454;
    font-size: 15px;
	margin:0 5px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3l-abt-social-icons a i {
	background: #44c7f4;
    color: #fff;
    padding: 8px 10px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3l-abt-social-icons a i:hover {
	opacity:0.8;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3ls-team-grids .agileits-social {
    float: none;
}
.w3ls-team-grids .agileits-social ul li:nth-child(3) {
    margin:0!important;
}
/*--//team--*/
/*-- //About --*/
.search-wthree h3 {
    display: inline-block;
    float: left;
	margin-bottom:0em!important;
	color:#000!important;
}
.search-wthree .sim-button{
	float:right;
	margin-top:0!important;
	background: #EA3621!important;
	width: 192px!important;
}
.search-wthree {
    padding: 3em 0;
}
/*-- mid-section --*/
.middle-section-agileits-w3layouts {
    background: url(../images/mid.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}
h3.subheading-agileits-w3layouts,h3.subheading-agileits-w3layouts {
    color: #EA3621;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
}
.search-wthree h3 {
    margin-top: 8px!important;
}
h3.subheading-agileits-w3layouts span,h3.subheading-agileits-w3layouts span{
    color: #fff;
}
.middle-section-agileits-w3layouts p {
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
}
/*-- //mid-section --*/
/*--elite-app--*/
.app-info h4 {
    font-size: 1.5em;
    letter-spacing: 8px;
    margin: 0;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: #000;
}
.app-devices a {
    float: left;
    width: 175px;
    margin-right: 4%;
}
.app-devices {
    margin: 2em 0 1em;
}
.app-info p a {
    color: #EA3621;
    font-weight: bold;
    text-decoration: none;
}
.app-info {
    margin-top: 5em;
}
/*--//elite-app--*/

/*-- gallery --*/
.w3ls_banner_bottom_right1 h2 {
    font-size: 2.5em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}
.w3ls_banner_bottom_right1 p {
    color: #666;
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 1em;
}
.w3ls_banner_bottom_right1 h2:after {
    border-top: 2px solid #47cf73;
    display: block;
    width: 81px;
    content: "";
    margin: 8px 0;
}
ul.some_agile_facts li {
    list-style: none;
    margin:15px 0;
    color: #333;
    font-weight: 600;
}
ul.some_agile_facts i {
    color: #47cf73;
    margin-right: 7px;
}
/*--/middle--*/
.w3ls-special-img.w3l-grid-1{
    background:#000 url(../images/g1.jpg) no-repeat 0px 0px;
    min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-img.w3l-grid-2{
    background:#000 url(../images/g2.jpg) no-repeat 0px 0px;
   min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-img.w3l-grid-3{
    background:#000 url(../images/g3.jpg) no-repeat 0px 0px;
    min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-text h4 {
       color: #FFF;
    font-size: 2em;
    margin: 4em 0 0 0;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.w3ls-special-img {
    padding: 0;
}
.w3ls-special-text.effect-1 ul li {
    list-style: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 1em;
}
/*-- Effect 1--*/
.w3ls-special-text:after {
    position: absolute;
        width: 316px;
    height: 323px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
background: rgba(0, 0, 0, 0.17);
}
.effect-1 {
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
}
.effect-1:after {
       top: 43px;
    left: 41px;
    box-shadow: 0 0 0 2px #FFFFFF;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.w3ls-special-img:hover.w3ls-special-text{
	background:#FF7200;
	color: #fff !important;
}
.w3ls-special-img:hover .w3ls-special-text:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.w3ls-special-img.text_info {
    background: #000;
    min-height: 399px;
}
.w3ls-special-img.text_info h4 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top:4em;
}
/*--//Effect 1--*/
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:91%;
}
.nbs-flexisel-nav-right {
	right: 1.2%;
    background:none;
}
/*--//flexisel--*/
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask, .view .content {
	width: 100%;
    height: 100%;
}
.view .mask, .view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
/* SECOND EFFECTS */

.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   text-align:center;
}
.second-effect:hover .mask {
    opacity: 1;
    border: 40px solid rgba(0, 0, 0, 0.65);
    background: rgba(0, 0, 0, 0.45);
}
.second-effect .mask p {
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #fff;
    text-transform: capitalize;
    padding: 2.3em 0 0;
    display: inline-block;
	    font-family: 'Dancing Script', cursive;
}
.second-effect .mask p i {
    display: block;
    color: #EA3621;
	font-weight:bold;
    font-size: 20px;
}
/*-- //gallery --*/
/*-- testimonial --*/
.test-grid1 p {
    font-size: 1em;
    line-height: 1.9em;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 0.5em;
}
.test-grid1 h4 {
    font-size: 1.4em;
    color: #fff;
    font-weight: 600;
    margin: 0em 0 .1em;
	letter-spacing: 1px;
}
.test-grid1 span {
    font-size: 14px;
    /* font-weight: bold; */
    color: #000;
    letter-spacing: 3px;
    display: block;
}
.test-grid1 {
	border-right: 10px solid rgba(255, 255, 255, 0.54);
    border-bottom: 10px solid rgba(255, 255, 255, 0.54);
    border-left: 10px solid rgba(68, 199, 244, 0.37);
    border-top: 10px solid rgba(68, 199, 244, 0.37);
    position: relative;
    padding: 2em 2em 2em 7em;
    margin-left: 5em;
    text-align: left;
}
.test-grid1 img.img-r {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
	-webkit-border-radius: 50%;;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border: 2px solid #fff;
    top: 8%;
    left: -14%;
}
 .test-gri1 {
    width: 59%;
    margin: 0 auto;
    padding: 3em;
    background: rgba(255, 255, 255, 0.28);
}
.test {
    background: url(../images/clients.jpg) no-repeat fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    text-align: center;
}
/*-- //testimonial --*/
/*--inner-pages--*/
.w3l_agileits_breadcrumbs {
    padding: .8em 0;
    background: #0e0e0e;
}
.w3l_agileits_breadcrumbs ul li a {
    color: #EA3621;
    text-decoration: none;
}
.w3l_agileits_breadcrumbs ul li span {
    padding: 0 2em;
}
.w3l_agileits_breadcrumbs ul li {
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
	font-size:15px;
}
/*-login-page-*/
.login-form-w3-agile,.login-right-info {
    padding: 2.5em;
    border: 2px solid #44c7f4;
}
.login-form-w3-agile {
    margin-right: 19px;
    width: 65%;
}
.w3_form_body_grid span {
    float: left;
    width: 30%;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 1.3em;
    font-family: 'Raleway', sans-serif;
}
.login-form-w3-agile input[type="email"], .login-form-w3-agile input[type="password"], .login-form-w3-agile input[type="text"],.frm-field {
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 10px;
    margin-bottom: 24px;
    color: #000;
	letter-spacing: 0.6px;
    font-size: 14px;
    width: 70%;
}
.checkbox input, .radio input {
    position: absolute;
    left: -9999px;
}
.radio i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    outline: none;
    background: #ea3621;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
label.radio {
    font-size: 14px;
    font-weight: 500;
    color: #999;
    padding-left: 20px;
    margin: 0;
	cursor: pointer;
}
.w3_gender {
    float: right;
    width: 70%;
    margin: 1em 0 1.7em;
}
.colr {
    float: left;
    margin-right: 1em;
}
.radio input + i:after {
    content: '';
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff !important;
}
.agile_remember_left {
    float: left;
}
.checkbox {
    position: relative;
    padding: 0px 0 0 30px !important;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    color: #212121;
    text-align: left;
}
.checkbox input, .radio input {
    position: absolute;
    left: -9999px;
}
.checkbox i {
    position: absolute;
    bottom: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid #5B5B5B;
    background: #FFF;
}
.checkbox input + i:after {
    content: '';
    background: url(../images/1.png) no-repeat 0px -1px;
    top: -4px;
    left: 2px;
    width: 15px;
    height: 15px;
    text-align: center;
}
.checkbox input:checked + i:after, .radio input:checked + i:after {
    opacity: 1;
}
.checkbox input + i:after, .radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.agile_remember_right a {
    font-size: 1em;
    color: #999;
    text-decoration: underline;
}
.login-form-w3-agile input[type="button"] {
    outline: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    border: none;
    width: 100%;
    background: #EA3621;
    margin: 1.5em 0 0;
    text-transform: uppercase;
}
.login-form-w3-agile input[type="button"]:hover {
	background: #44c7f4;
}
.login-form-w3-agile h4 {
    font-size: 1.2em;
    color: #212121;
    margin: 1.5em 0 1em;
    text-align: center;
}
.agile_remember_right {
    float: right;
}
/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.slide-social i {
    font-size: 16px;
    color: #fff;
    padding-top: .75em;
}
.slide-social{
    display: inline-block;
    overflow: hidden;
    margin: 0 10px 0px 0;
    width: 160px;
    height: 40px;
    background: #D5D5D5;
}
.slide-social .button{
    position: absolute;
    margin:9px 0 0 70px;
    font-size: 1em;
    color: #212121;
}
.slide-social a{
    display: none;
}
.icon{
    float: left;
    padding-top:0px;
    width: 25%;
    height: 100%;
    text-align: center;
}
.slide{
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
}
.slide p{
    position: relative;
    top:8px;
    margin: 0;
    border-left: 1px solid rgba(255,255,255,0.3);
    color:#FFF !important;
    text-align: center;
}
/* Brand Colours */
.facebook{
    background: #3b5998;
}
.twitter{
    background: #00acee;
}
/* Slide Animation */
.slide-social:hover .slide{
    -webkit-transform: translate(101%, 0);
    -moz-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
}
.no-cssanimations .slide{
    display: none; /* hide in IE 8-9 */
}
.touch .slide{
    display: none; /* hide on touch devices */
}
/* Transition */
.slide{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* Example Media Queries */
@media only screen and (max-width : 30em) { /* 480px/16px = 30em */
    .slide-social{
        width: 100%;
    }
    .slide-social .button{
        position: absolute;
        margin-left: 50%;
    }
}
/*-- //social-icons --*/
.login-right-info ul {
    padding: 0.5em 0 0em;
    border-bottom: 2px dotted rgba(197, 197, 197, 0.47);
}
.login-right-info ul:nth-child(2) {
    border-bottom: none!important;
}
.login-right-info ul li {
    list-style: none;
    margin-bottom: .6em;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.login-right-info ul li i {
    color: #ea3621;
    margin-right: 10px;
    font-size: 14px;
}
.login-right-info .sim-button {
    margin-top: 0em!important;
    background: #EA3621!important;
    width: 192px!important;
}
.login-right-info h5 {
    color: #000;
    font-size: 15px;
    letter-spacing: .5px;
    padding: 12px 0 14px;
}
.login-right-info h5 i {
    color: #00acee;
    margin-left: 10px;
    font-size: 20px;
}
.right-info-find {
    margin-top: 1.5em!important;
}
/*-//login-page-*/
/*-contact-page-*/
.contact-page-w3-agile{
	padding-bottom:0em!important;
}
.contact-page-w3-agile iframe{
	outline:none;
	border:none;
	width:100%;
	height:350px;
}
.contact-page .form-bg-w3ls {
    width: 100%!important;
}
.contact-page .regstr-r-w3-agileits {
	padding:0!important;
}
ul.resp-tabs-list {
    margin: 0 auto;
    width: 89%;
}
.resp-tab-content {
    padding: 2em;
}

.resp-tab-content iframe {
    width: 100%;
    border: none;
    outline: none;
    margin-top: 1em;
    height: 200px;
}
.resp-tab-active, .resp-tabs-list li:hover, li.resp-tab-item.resp-tab-active {
    border-bottom: none;
    background: none;
    color: #000;
    border-right: 3px solid rgba(234, 54, 33, 0.45);
    border-bottom: 3px solid rgba(234, 54, 33, 0.45);
    border-left: 3px solid rgba(68, 199, 244, 0.37);
    border-top: 3px solid rgba(68, 199, 244, 0.37);
}
.resp-tabs-list li {
    color: #000;
    background: transparent;
	border:3px solid #eee;
}
.resp-tabs-container p span {
    color: #EA3621;
    font-weight: bold;
}
.resp-tabs-container p a {
    color: #000;
	letter-spacing:.5px;
}
.resp-tabs-container p a:hover {
	color:#44c7f4;
}
.contact-agileits-w3layouts {
    margin-top: 2.5em;
}
/*-//contact-page-*/
/*-matches-page-*/
.about-person {
    display: block;
    width: 100%;
    padding: 0 15px;
}
.person-info-agileits-w3layouts {
    margin-top: 1.5em;
    height: 270px;
}
.profile1,.profile2,.profile3,.profile4 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 330px;
    width: 25%;
    margin-right: 2em;
}
.profile1 {
    background: url(../images/p1.jpg) no-repeat 0px 0px;
}
.profile2 {
    background: url(../images/p2.jpg) no-repeat 0px 0px;
}
.profile3 {
    background: url(../images/p3.jpg) no-repeat 0px 0px;
}
.profile4 {
    background: url(../images/p4.jpg) no-repeat 0px 0px;
}
.person-info-agileits-w3layouts ul li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    color: #8a8a8a;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.person-info-agileits-w3layouts ul li span {
    width: 141px;
    display: inline-block;
    color: #4a4a4a;
    font-weight: 600;
}
.person-info-agileits-w3layouts ul li a {
    display: inline-block;
    color: #000;
	padding:10px 20px;
	font-size:15px;
	background:#44c7f4;
	margin:10px 10px 0 0px;
}
.person-info-agileits-w3layouts ul li a:hover {
	background:#EA3621;
	color:#fff;
	text-decoration:none;
}
.about-person .sim-button{
	background:#EA3621;
	margin-top:1em!important;
}
.about-person h6,.person-info-agileits-w3layouts h3 {
    font-size: 20px;
    margin: 1em 0 .5em;
    color: #000;
}
.person-info-agileits-w3layouts h3 {
	color:#EA3621;
	margin-bottom: 1em!important;
	margin-top: 0em!important;
}
.about-person p span {
    color: #EA3621;
    font-size: 19px;
}
.matches-main-agileinfo {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #777;
}
.matches-main-agileinfo:nth-child(5) {
    margin-bottom: 0em!important;
	border-bottom:none!important;
	padding-bottom: 0em!important;
}
/*-//matches-page-*/
/*-//inner-pages-*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}


.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
/*-- //typography --*/
/*-- icons --*/
.icon-w3layouts-subheading{
    margin-top: 0!important;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover a.agile-icon {
    color: #fff !important;
}
.icon-box:hover i.fa {
    color: #fff !important;
}
/*-- //icons --*/
/*-- footer --*/
.w3l_footer {
    background: #0e0e0e;
    padding: 3em 0;
}
.w3ls_footer_grid_left {
    width: 33.3%;
}
.w3ls_footer_grid_left h4 {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: .6em;
    font-family: 'Dancing Script', cursive;
}
.w3ls_footer_grid_left p {
    color: #9c9c9c;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.w3ls_footer_grid_left p a {
    text-decoration: none;
    color: #EA3621;
}
.w3ls_footer_grid_left p a:hover {
    text-decoration: none;
    color: #fff;
}
.w3ls_footer_grid_left p span {
    color: #cecece;
    margin-right: 7px;
}
.footer-button {
    text-align: center;
}
.footer-button h2 {
    color: #b1acac;
    font-size: 18px;
    letter-spacing: 6px;
    margin-top: 2em;
}
.button-top-w3layouts {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
	position:relative;
}
.button-top-w3layouts:before {
    content: "";
    width: 45%;
    height: 4%;
    background: #2e2e2e;
    position: absolute;
    display: block;
    top: 22px;
    left: 0px;
}
.button-top-w3layouts:after {
    content: "";
    width: 45%;
    height: 4%;
    background: #2e2e2e;
    position: absolute;
    display: block;
    top: 22px;
    right: 0px;
}
.button-top-w3layouts i {
    color: #fff;
    font-size: 38px;
}
.logo-icons-w3ls i.fa.fa-heart-o.heart2 {
    color: #ea3621;
    font-size: 48px;
}
.logo-icons-w3ls{
	position:relative;
}
.logo-icons-w3ls i.heart1 {
    position: absolute;
    left: 48%;
    transform: rotate(-22deg);
    top: 34%;
    font-size: 30px;
}
.w3ls_footer_grid {
    margin: 0 auto;
    text-align: center;
}
.botttom-nav-agileits {
    background: #000000;
    border-bottom: 2px solid #2e2e2e;
    padding: 3px 0px;
}
.botttom-nav-agileits ul {
    text-align: center;
}
.botttom-nav-agileits ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.botttom-nav-agileits ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.botttom-nav-agileits ul li a:hover {
	color:#44c7f4;
}
/*--copy-right--*/
.footer-w3layouts {
    padding: 1em 0;
    background: #000;
}
.footer-w3layouts p {
    padding: 1em 0;
    text-align: center;
    color: #fff;
    margin: 0;
    letter-spacing: 2px;
    font-size: 15px;
}
.footer-w3layouts p a {
    text-decoration: none;
    color: #EA3621;
}
.footer-w3layouts p a:hover {
    text-decoration: none;
    color: #0099e5;
}
.agileits-social {
    float: right;
}
.agileits-social ul{
	padding:0;
	margin:0;
	margin-top: 8px;
}
.agileits-social ul li{
	display:inline-block;
}
.agileits-social ul li a {
	color: #333;
    text-align: center;
}
.agileits-social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #3b5998;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-facebook:hover {
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
     background: #1da1f2;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-twitter:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
     background: #f26522;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-rss:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
      background: #45668e;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-vk:hover{
    opacity: 0.8;
}
.agileits-social ul li:nth-child(2){
	margin:0 .5em;
}
.agileits-social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.agile-copy {
    float: left;
}
.agileits-social {
    float: right;
}
/*--//copy-right--*/
/*--//footer--*/
/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:#a2a2a2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a2a2a2; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a2a2a2;  
}

:-ms-input-placeholder {  
   color: #a2a2a2;  
}
/*--//placeholder-color--*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    overflow: hidden;
    z-index: 999;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
    text-indent: 100%;
    background: rgba(14, 14, 14, 0.66) url(../images/arr.png) no-repeat 10px 6px;
    background-size: 28px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	.about-left-agileits {
		min-height: 393px;
	}
	.button a {
		top: 10.5em;
		left: 15em;
	}
	.second-effect .mask p {
		padding: 1.7em 0 0;
	}
}
@media(max-width:1366px){
	.w3ls-info h4 {
		font-size: 36px;
	}
	.w3ls-info {
		width: 72%;
	}
	.banner-w3ls .agileits-social {
		margin: 9.3em 0em 0em 0em;
	}
	.banner-w3ls {
		min-height: 635px;
	}
	.banner-btm-w3layouts, .gallery, .w3ls-team, .test, .middle-section-agileits-w3layouts, .contact, .newsletter, .services, .elite-app {
		padding: 4em 0em;
	}
	.tittle-agileinfo h3 {
		font-size: 2.1em;
	}
	h3.subhead-agileits,.about-person h6, .person-info-agileits-w3layouts h3 {
		font-size: 20px;
	}
	.w3_agileits_services_grid_agile h3 {
		font-size: 1.09em;
	}
	.button a {
		left: 13.5em;
		top: 9.5em;
	}
	.footer-button h2 {
		font-size: 16px;
		letter-spacing: 5px;
	}
	h3.subheading-agileits-w3layouts, h3.subheading-agileits-w3layouts {
		font-size: 28px;
	}
	.about-right {
		padding: 4em 4em;
	}
	.about-left-agileits {
		min-height: 357px;
	}
}
@media(max-width:1280px){
	.button a {
		left: 12.5em;
	}
	.test-grid1 h4 {
		font-size: 1.22em;
	}
	.second-effect .mask p {
		padding: 1.1em 0 0;
	}
	.footer-w3layouts p {
		font-size: 14px;
	}
	.w3ls-team-grids h5 {
		font-size: 21px;
		letter-spacing: 1px;
	}
	h1.logo {
		font-size: 43px;
		border-width: 8px;
	}
	h1 span {
		font-size: 32px;
		letter-spacing: 5px;
	}
	.header-right-w3ls {
		margin-top: 35px;
	}
}
@media(max-width:1080px){
	.navbar-nav > li {
		margin: 0 5px;
	}
	.navbar-default {
		margin: 2.3em 0 0 1em;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 14px;
	}
	.w3ls-info h4 {
		font-size: 31px;
		margin-top: 2em;
	}
	.w3ls-info p {
		font-size: 1.5em;
	}
	.sim-button {
		width: 20.5%;
	}
	.banner-w3ls .agileits-social {
		margin: 7.5em 0em 0em 0em;
	}
	.banner-w3ls {
		min-height: 530px;
	}
	.callbacks_tabs {
		bottom: -87%;
	}
	.callbacks_nav {
		bottom: -85%;
	}
	.form-bg-w3ls {
		width: 100%;
	}
	.button span {
		font-size: 30px;
	}
	.button a {
		left: 10.5em;
		padding: 8px 33px;
	}
	.middle-section-agileits-w3layouts p {
		font-size: 19px;
		letter-spacing: 2.5px;
	}
	.app-info h4 {
		font-size: 1.3em;
	}
	.app-info {
		margin-top: 4em;
	}
	.test-grid1 {
		margin-left: 4em;
		padding: 2em 2em 2em 6em;
	}
	.test-grid1 img.img-r {
		top: 14%;
		left: -19%;
	}
	.owl-pagination {
		right: 40%;
		bottom: -41px;
	}
	.second-effect:hover .mask {
		border: 30px solid rgba(0, 0, 0, 0.65);
	}
	.second-effect .mask p i {
		font-size: 18px;
	}
	.second-effect .mask p {
		padding: 1em 0 0;
		font-size: 1.4em;
	}
	.logo-icons-w3ls i.fa.fa-heart-o.heart2 {
		font-size: 43px;
	}
	.logo-icons-w3ls i.heart1 {
		font-size: 27px;
	}
	.footer-button h2 {
		font-size: 14px;
	}
	.w3ls_footer_grid_left p {
		font-size: 15px;
	}
	.w3ls-team-grids.team-mdl, .w3ls-team-grids.team-mdl1 {
		margin: 0 1.95em;
	}
	.w3ls-team-grids{
		padding: 1.5em 1em;
	}
	.resp-tabs-list li {
		padding: 10px 18px;
		margin-right: 6px;
	}
	.contact-page-w3-agile iframe {
		height: 300px;
	}
	.w3l_footer {
		padding: 2em 0;
	}
	#toTop {
		width: 40px;
		height: 40px;
		background: rgba(14, 14, 14, 0.66) url(../images/arr.png) no-repeat 11px 8px;
		background-size: 20px;
		bottom: 15px;
		right: 13px;
	}
	.login-form-w3-agile {
		margin-right: 15px;
	}
	.login-right-info h5 {
		padding: 8px 0 12px;
	}
	h3.subhead-agileits, .about-person h6, .person-info-agileits-w3layouts h3 {
		font-size: 19px;
	}
}
@media(max-width:1050px){
	.w3l_agileits_breadcrumbs ul li {
		font-size: 13px;
	}
	.w3l_agileits_breadcrumbs {
		padding: .7em 0;
	}
	h3.subheading-agileits-w3layouts, h3.subheading-agileits-w3layouts {
		font-size: 25px;
	}
	.about-right {
		padding: 3em 4em;
	}
	.about-left-agileits {
		min-height: 320px;
	}
	.button a {
		left: 10em;
		top: 8.5em;
	}
	.search-wthree {
		padding: 2.3em 0;
	}
	.second-effect .mask p {
		padding: .7em 0 0;
	}
	.search-wthree h3 {
		margin-top: 10px!important;
	}
	.callbacks_tabs {
		left: 43%;
	}
}
@media(max-width:1024px){
	.tittle-agileinfo h3 {
		font-size: 1.9em;
	}
	.tittle-agileinfo {
		margin-bottom: 1.9em;
	}
	.banner-btm-w3layouts, .gallery, .w3ls-team, .test, .middle-section-agileits-w3layouts, .contact, .newsletter, .services, .elite-app {
		padding: 3em 0em;
	}
	.sim-button {
		width: 20.4%;
		line-height: 43px;
		height: 45px;
	}
	.person-info-agileits-w3layouts ul li a {
		padding: 7px 16px;
	}
	.header-right-w3ls a {
		font-size: 15px;
	}
	.inner-banner-agileits {
		min-height: 140px!important;
	}
}
@media(max-width:991px){
	h1.logo {
		font-size: 29px;
		letter-spacing: 5px;
	}
	h1 span {
		font-size: 25px;
		letter-spacing: 4px;
		padding-left: 33px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 0.4em .8em;
		letter-spacing: .99px;
	}
	.header-right-w3ls a {
		font-size: 14px;
		padding: 7px 15px;
	}
	.navbar-nav > li {
		margin: 0 3px;
	}
	.navbar-default {
		margin: 1.6em 0 0 0.3em;
	}
	.header-right-w3ls {
		margin-top: 26px;
	}
	.w3ls-info h4 {
		font-size: 24px;
		line-height: 1.3em;
		letter-spacing: 3px;
	}
	.w3ls-info p {
		font-size: 1.3em;
	}
	.w3ls-info {
		width: 79%;
	}
	.sim-button {
		width: 26.6%;
	}
	.banner-w3ls {
		min-height: 450px;
	}
	.callbacks_tabs {
		bottom: -114%;
	}
	.callbacks_nav {
		bottom: -111%;
	}
	.w3_agileits_services_grids {
		margin-bottom: 2em;
	}
	.w3_agileits_services_grid_1 {
		width: 90px;
		height: 90px;
	}
	.w3_agileits_services_grid_1 i {
		font-size: 2em;
		line-height: 2.8em;
	}
	.para-agileits-w3layouts {
		font-size: 15px;
		line-height: 30px;
	}
	.about-left-agileits {
		width: 100%;
		float: none;
	}
	.button a {
		left: 27em;
	}
	.about-right {
		width: 100%;
	}
	.test-gri1 {
		width: 100%;
	}
	.test-grid1 img.img-r {
		top: 7%;
		left: -13%;
	}
	.second-effect .mask p {
		font-size: 1.3em;
	}
	.w3ls_footer_grid_left {
		float: left;
	}
	.logo-icons-w3ls i.heart1 {
		font-size: 26px;
		left: 47.6%;
		top: 37%;
	}
	.footer-button h2 {
		font-size: 13px;
		letter-spacing: 3px;
	}
	.w3ls-team-grids {
		padding: 4.5em 2em;
		width: 49.3%;
		float: left;
	}
	.w3ls-team-grids.team-mdl1 {
		margin: 0 10px 0 0;
	}
	.w3ls-team-grids.team-mdl{
		margin:0 0 20px 10px;
	}
	.profile1, .profile2, .profile3, .profile4 {
		width: 37%;
		margin-right: 0em;
		float: left;
	}
	.person-info-agileits-w3layouts {
		float: left;
	}
	.about-person p span {
		font-size: 17px;
	}
	ul.resp-tabs-list {
		width: 90%;
	}
	.resp-tab-content {
		padding-bottom: 0!important;
	}
	.login-form-w3-agile {
		margin-right: 0;
		width: 100%;
		float:none;
	}
	.login-right-info {
		margin-top: 1.5em;
	}
	.login-right-info ul li {
		font-size: 15px;
	}
	.callbacks_tabs {
		left: 42%
	}
	.app-info {
		margin-top: 0;
	}
	.app-info h4 {
		margin-bottom: 0.7em;
	}
	.inner-banner-agileits {
		min-height: 115px!important;
	}
}
@media(max-width:900px){
	.button a {
		left: 24.5em;
		top: 9em;
	}
	.sim-button a {
		font-size: 15px;
		letter-spacing: 0.6px;
	}
	.second-effect .mask p {
		padding: .2em 0 0;
	}
	.login-form-w3-agile, .login-right-info {
		padding: 2em;
	}
}
@media(max-width:800px){
	.button a {
		left: 21em;
	}
	.second-effect:hover .mask {
		border: 25px solid rgba(0, 0, 0, 0.65);
	}
	.second-effect .mask p {
		padding: 0em 0 0;
	}
	.tittle-agileinfo {
		margin-bottom: 1.3em;
	}
	.tittle-agileinfo h3 {
		font-size: 2em;
	}
	.banner-btm-w3layouts, .gallery, .w3ls-team, .test, .middle-section-agileits-w3layouts, .contact, .newsletter, .services, .elite-app {
		padding: 2.5em 0em;
	}
	h3.subhead-agileits, .about-person h6, .person-info-agileits-w3layouts h3 {
		font-size: 18px;
	}
	.w3_agileits_services_grid_agile h3 {
		font-size: 1em;
		letter-spacing: 1.5px;
	}
	.app-devices {
		margin: 1.5em 0 1em;
	}
	.test-grid1 h4 {
		font-size: 1.1em;
	}
}
@media(max-width:768px){
	.button a {
		left: 20em;
	}
	.second-effect:hover .mask {
		border: 45px solid rgba(0, 0, 0, 0.65);
	}
	.second-effect .mask p {
		padding: 1.5em 0 0;
		font-size: 1.5em;
	}
	.callbacks_tabs {
		left: 43%;
	}
	#toTop {
		bottom: 53px;
		right: 16px;
	}
	.contact-page-w3-agile iframe {
		height: 240px;
	}
	.contact-agileits-w3layouts {
		margin-top: 2em;
		padding: 0;
	}
	.resp-tab-content {
		padding: 1.5em 2em!important;
	}
	.login-form-w3-agile input[type="email"], .login-form-w3-agile input[type="password"], .login-form-w3-agile input[type="text"], .frm-field {
		margin-bottom: 18px;
	}
	.w3_form_body_grid span {
		font-size: 12px;
	}
}
@media(max-width:767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 8px 9px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: rgba(0, 0, 0, 0.24);
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: rgba(255, 255, 255, 0.65);
		background: transparent;
		margin: 0;
		margin: 2px 0px 0 0px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ea3621;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: rgba(255, 255, 255, 0.13);
	}
	.navbar-default .navbar-nav > li:nth-child(1) a {
		margin-top: 20px;
	}
	.navbar-default .navbar-nav > li:nth-child(5) a {
		margin-bottom: 15px;
	}
	.navbar-nav > li {
		margin: 0;
		width: 51%;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		margin-top:3.2em;
		text-align: center!important;
	}
	.navbar-header h1 a {
		font-size: 0.8em;
		line-height: 57px;
	}
	.navbar-right {
		float: none!important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		text-align: center;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		background-color: transparent!important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default {
		float: right;
		position: absolute;
		width: 100%;
		margin: 0;
	}
	.header-inner {
		position: relative;
	}
	.header-right-w3ls {
		margin-top: 0;
		position: absolute;
		top: 3.95em;
		right: 0em;
	}
	.w3ls-info h4 {
		font-size: 21px;
		width: 72%;
		margin-top: 1.5em;
	}
	.sim-button {
		margin-top: 20px;
	}
	.banner-w3ls .agileits-social {
		margin: 5.8em 0em 0em 0em;
	}
	.agileits-social ul li a i {
		height: 35px!important;
		width: 35px!important;
		line-height: 36px!important;
	}
	.banner-w3ls {
		min-height: 390px;
	}
	.callbacks_nav.prev {
		left: 0.5%;
	}
	.middle-section-agileits-w3layouts p {
		font-size: 17px;
	}
	.app-img img {
		width: 80%;
		margin: 0 auto;
	}
	h3.hdg {
		font-size: 2em;
	}
	.icon-box {
		width: 50%;
		float: left;
		margin: 0em 0 1em 0;
	}
}
@media(max-width:736px){
	.w3ls-info {
		width: 85%;
	}
	.button a {
		left: 19em;
	}
	.about-right {
		padding: 2em 3em;
	}
	h3.subheading-agileits-w3layouts, h3.subheading-agileits-w3layouts {
		font-size: 23px;
		letter-spacing: 2px;
	}
	.w3ls-team-grids {
		width: 49%;
	}
	.sim-button {
		width: 27.8%;
	}
	.about-person .sim-button {
		width: 29%;
	}
}
@media(max-width:667px){
	.w3ls-info {
		width: 95%;
	}
	.w3_agileits_services_grid_1 {
		width: 80px;
		height: 80px;
	}
	.w3_agileits_services_grid_1 i {
		font-size: 1.8em;
		line-height: 2.7em;
	}
	.button a {
		left: 17em;
	}
	.second-effect .mask p {
		padding: 1em 0 0;
	}
	.w3ls_footer_grid_left {
		float: none;
		width: 80%;
		margin: 0 auto 2em;
	}
	.w3ls_footer_grid_left:nth-child(3) {
		margin: 0 auto 0em!important;
	}
	.callbacks_nav.next, .callbacks_nav.prev {
		background-size: 18px;
	}
	.callbacks_nav {
		bottom: -115%;
	}
	.logo-icons-w3ls i.heart1 {
		font-size: 24px;
		left: 47.3%;
		top: 36%;
	}
	.logo-icons-w3ls i.fa.fa-heart-o.heart2 {
		font-size: 40px;
	}
	.sim-button {
		width: 31%;
	}
	.agile-copy {
		float: none;
	}
	.footer-w3layouts p {
		padding: 0em 0 .7em;
	}
	.footer-w3layouts .agileits-social {
		float: none!important;
		text-align: center;
	}
	.footer-w3layouts {
		padding: 1.5em 0;
	}
	#toTop {
		bottom: 18px;
	}
	.profile1, .profile2, .profile3, .profile4 {
		width: 100%;
		float: none;
	}
	.person-info-agileits-w3layouts {
		float: none;
		height: auto;
	}
	.person-info-agileits-w3layouts ul li {
		font-size: 15px;
	}
	.about-person .sim-button {
		width: 32.5%;
	}
	.w3_agileits_services_grid_agile h3 {
		font-size: 0.9em;
	}
}
@media(max-width:640px){
	.callbacks_tabs {
		left: 41.5%;
	}
	.sim-button {
		width: 32.4%;
	}
	.test-grid1 img.img-r {
		top: 12%;
		left: -18%;
	}
	.second-effect .mask p {
		padding: .8em 0 0;
	}
	.about-person .sim-button {
		width: 34.2%;
	}
	h3.hdg {
		font-size: 1.5em;
	}
	.bs-glyphicons li {
		width: 23%;
	}
	.w3ls_footer_grid_left h4 {
		font-size: 1.1em;
		letter-spacing: 3px;
	}
}
@media(max-width:600px){
	.w3ls-info h4 {
		font-size: 19px;
		letter-spacing: 2px;
	}
	.w3ls-info p {
		font-size: 1.2em;
	}
	.banner-w3ls .sim-button {
		width: 146px;
	}
	.banner-w3ls .button12::before {
		top: 98px;
		left: -28px;
	}
	.banner-w3ls .button12::after {
		top: 95px;
		left: -29px;
	}
	.agileits-social ul li a i {
		height: 30px!important;
		width: 30px!important;
		line-height: 31px!important;
		font-size: 13px!important;
	}
	.banner-w3ls .agileits-social {
		margin: 5em 0em 0em 0em;
	}
	.agileits-social ul li:nth-child(3) {
		margin: 0 .2em 0 0;
	}
	.agileits-social ul li:nth-child(2) {
		margin: 0 .2em;
	}
	.banner-w3ls {
		min-height: 360px;
	}
	.callbacks_tabs {
		bottom: -110%;
	}
	.callbacks_nav.next {
		left: 5%;
	}
	.button a {
		left: 15em;
	}
	.middle-section-agileits-w3layouts .sim-button,.footer-middle-agileinfo .sim-button {
		width: 150px;
	}
	.middle-section-agileits-w3layouts .button12::before,.footer-middle-agileinfo .button12::before {
		top: 126px;
		left: -25px;
	}
	.middle-section-agileits-w3layouts .button12::after,.footer-middle-agileinfo .button12::after {
		left: -26px;
	}
	.test-grid1 img.img-r {
		top: 13%;
	}
	.second-effect .mask p {
		padding: .5em 0 0;
	}
	.logo-icons-w3ls i.heart1 {
		left: 47%;
		top: 35%;
	}
	.search-wthree h3 {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 0px!important;
		margin-bottom: 20px!important;
	}
	.search-wthree .sim-button {
		float: none;
		display: block;
	}
	.middle-section-agileits-w3layouts p {
		font-size: 16px;
		letter-spacing: 2px;
	}
	.app-info h4 {
		font-size: 1.2em;
		letter-spacing: 5px;
	}
	.w3l_agileits_breadcrumbs {
		padding: .5em 0;
	}
	.about-person .sim-button {
		width: 160px;
	}
	.about-person .button12::before {
		top: 84px;
		left: -21px;
	}
	.about-person .button12::after {
		top: 79px;
		left: -21px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .7em;
	}
	.login-form-w3-agile h4 {
		font-size: 1em;
	}
}
@media(max-width:568px){
	.w3ls-info p {
		letter-spacing: 1.5px;
	}
	.app-img img {
		width: 100%;
	}
	.test-grid1 p {
		font-size: 0.9em;
		line-height: 1.8em;
		letter-spacing: .8px;
		margin-top: 0.2em;
	}
	.test-grid1 img.img-r {
		top: 16%;
		width: 130px;
		height: 130px;
		left: -21%;
	}
	.test-grid1 {
		padding: 2em 2em 2em 4.5em;
	}
	.second-effect .mask p {
		padding: .2em 0 0;
		font-size: 1.4em;
	}
	.tittle-agileinfo h3 {
		font-size: 1.6em;
	}
	.tittle-agileinfo {
		margin-bottom: 1em;
	}
	.banner-btm-w3layouts, .gallery, .w3ls-team, .test, .middle-section-agileits-w3layouts, .contact, .newsletter, .services, .elite-app {
		padding: 2em 0em;
	}
	.button a {
		left: 14em;
	}
	h3.subhead-agileits, .about-person h6, .person-info-agileits-w3layouts h3 {
		font-size: 17px;
	}
	.login-form-w3-agile input[type="submit"] {
		font-size: 0.9em;
	}
}
@media(max-width:480px){
	.w3ls-info h4 {
		font-size: 16px;
		width:85%;
		line-height: 1.7em;
		margin-top: 1em;
	}
	.w3ls-info {
		width: 90%;
	}
	.banner-w3ls .agileits-social {
		margin: 4.3em 0em 0em 0em;
	}
	.callbacks_tabs a:after {
		font-size: 11px;
	}
	.callbacks_tabs li {
		margin: 0 1px;
	}
	.callbacks_tabs {
		bottom: -82%;
		left: 42%;
	}
	.callbacks_nav {
		bottom: -84%;
	}
	.w3_agileits_services_grid {
		width: 100%;
		float: none;
	}
	.about-left-agileits {
		min-height: 260px;
	}
	.button a {
		left: 12em;
		padding: 6px 30px;
		top: 7em;
	}
	.about-right {
		padding: 2em 2em;
	}
	.test-grid1 {
		padding: 5em 1.3em 1.5em;
		margin-top: 4em;
		margin-left: 0;
	}
	.test-grid1 img.img-r {
		top: -33%;
		left: 5%;
	}
	.second-effect:hover .mask {
		border: 50px solid rgba(0, 0, 0, 0.65);
	}
	.second-effect .mask p {
		padding: 3.2em 0 0;
	}
	.w3ls-team-grids {
		width: 100%;
		float: none;
	}
	.w3ls-team-grids.team-mdl {
		margin: 10px 0;
	}
	.w3ls-team-grids.team-mdl1 {
		margin: 0 0px 10px!important;
	}
	.logo-icons-w3ls i.fa.fa-heart-o.heart2 {
		font-size: 35px;
	}
	.logo-icons-w3ls i.heart1 {
		top: 39%;
		font-size: 20px;
	}
	.footer-w3layouts p {
		padding: 0;
		line-height: 28px;
	}
		.footer-button h2 {
		font-size: 12px;
		letter-spacing: 2px;
		margin-top: 1.2em;
	}
	.w3_form_body_grid span {
		font-size: 11px;
	}
	.login-form-w3-agile input[type="email"], .login-form-w3-agile input[type="password"], .login-form-w3-agile input[type="text"], .frm-field {
		margin-bottom: 12px;
	}
	.login-right-info h5 i {
		font-size: 17px;
	}
	.login-right-info h5 {
		font-size: 14px;
	}
	.w3_agileits_services_grid_agile {
		padding: 0 1em 1em;
	}
	.w3_agileits_services_grids {
		margin-bottom: 0.6em;
	}
}
@media(max-width:414px){
	.w3ls-info h4 {
		width: 100%;
	}
	.callbacks_tabs {
		left: 40%;
	}
	.callbacks_nav.next {
		left: 6%;
	}
	.w3_agileits_services_grid_agile h3 {
		font-size: 0.9em;
	}
	.form-bg-w3ls {
		padding: 2em 2em;
	}
	.button a {
		left: 9.5em;
	}
	.search-wthree h3 {
		margin-bottom: 11px!important;
		line-height: 33px;
	}
	.app-devices a {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.app-devices {
		margin: 1em 0 0em;
	}
	.app-devices img {
		width: 130px;
	}
	.second-effect .mask p {
		padding: 2.2em 0 0;
	}
	.w3ls_footer_grid_left {
		width: 100%;
		margin: 0 auto 1.5em;
	}
	.footer-w3layouts p {
		padding: 0 10px;
		letter-spacing: 1px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12px;
	}
	.logo-icons-w3ls i.heart1 {
		top: 40%;
		left: 46.5%;
	}
	h3.hdg {
		font-size: 1.3em;
	}
	.icon-box {
		width: 100%;
		margin: 0em 0 0em 0;
	}
	.bs-glyphicons li {
		width: 31%;
	}
	.page-header {
		font-size: 19px;
		margin: 10px 0 8px;
	}
	h3.agileits-icons-title {
		font-size: 24px;
		margin-top: 1em;
	}
	h3.agileits-icons-title {
		font-size: 21px;
		margin-top: 1em;
	}
	.resp-tab-content {
		padding: 1em 1em!important;
	}
	.login-form-w3-agile, .login-right-info {
		padding: 1.5em;
	}
}
@media(max-width:384px){
	h1.logo {
		font-size: 25px;
		letter-spacing: 4px;
	}
	h1 span {
		font-size: 21px;
		letter-spacing: 3px;
	}
	.navbar-default .navbar-toggle {
		margin: 0px 0px 0 0px;
	}
	.header-right-w3ls a {
		padding: 5px 13px;
	}
	.header-right-w3ls {
		top: 3.75em;
	}
	.w3ls-info h4 {
		font-size: 14px;
	}
	.banner-w3ls .sim-button {
		width: 146px;
		margin-top: 13px;
	}
	.agileits-social ul li:nth-child(2) {
		margin: 0 0em;
	}
	.agileits-social ul li:nth-child(3) {
		margin: 0 0em 0 0;
	}
	div#bs-example-navbar-collapse-1 {
		margin-top: 2.8em;
	}
	.callbacks_tabs {
		bottom: -89%;
	}
	.callbacks_nav {
		bottom: -92%;
	}
	.banner-w3ls {
		min-height: 345px;
	}
	.app-info h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.test-grid1 img.img-r {
		top: -25%;
	}
	.second-effect .mask p {
		padding: 1.5em 0 0;
	}
	.logo-icons-w3ls i.heart1 {
		left: 45.9%;
		font-size: 19px;
	}
	.search-wthree {
		padding: 2em 0;
	}
	.bs-glyphicons li {
		width: 48%;
	}
	h2.resp-accordion h6 {
		font-size: 11px;
	}
}
@media(max-width:375px){
	.button a {
		left: 8.5em;
	}
	.test-gri1 {
		padding: 2em;
	}
	.owl-pagination {
		right: 33%;
		bottom: -32px;
	}
	.tittle-agileinfo h3 {
		font-size: 1.5em;
	}
	h3.subheading-agileits-w3layouts, h3.subheading-agileits-w3layouts {
		font-size: 21px;
	}
	.logo-icons-w3ls i.heart1 {
		left: 46.3%;
		top: 43%;
	}
	.login-right-info {
		margin-top: 1em;
	}
	.checkbox {
		font-size: 14px;
		padding: 3px 0 0 30px !important;
	}
	.agile_remember_right a {
		font-size: 14px;
	}
	.banner-btm-w3layouts, .gallery, .w3ls-team, .test, .middle-section-agileits-w3layouts, .contact, .newsletter, .services, .elite-app {
		padding: 1.5em 0em;
	}
}
@media(max-width:320px){
	h1 span {
		padding-left: 23px;
	}
	.w3ls-info {
		width: 100%;
	}
	.banner-w3ls .agileits-social {
		margin: 0.3em 0em 0em 0em;
	}
	.callbacks_tabs {
		left: 20%;
	}
	.regstr-r-w3-agileits {
		padding: 0!important;
	}
	.button a {
		left: 6.5em;
	}
	.second-effect .mask p {
		padding: .5em 0 0;
	}
	.footer-button h2 {
		line-height: 23px;
	}
	.botttom-nav-agileits ul li {
		display: block;
	}
	.logo-icons-w3ls i.heart1 {
		left: 45.3%;
		top: 42%;
	}
	.form-bg-w3ls {
		padding: 1.5em 1.5em;
	}
	.agile_remember_left {
		float: none;
	}
	.agile_remember_right {
		float: none;
		width: 100%;
		text-align: center!important;
		margin-top: 1em;
	}
	.w3_form_body_grid span {
		float: none;
		width: 100%;
	}
	.login-form-w3-agile input[type="email"], .login-form-w3-agile input[type="password"], .login-form-w3-agile input[type="text"], .frm-field {
		width: 100%;
	}
	.w3_gender {
		float: none;
		width: 100%;
		margin: 1em 0 1em;
	}
}
/*--responsive--*/
.profile-btn{
	display: none!important;
}
.sbtn{
	width: 100%!important;
}
.profile-img
{
	width:100px;
	height: 100px;
}
img.card-img-top {
    width: 100%;
	height: 300px;
    padding-bottom: 20px;
}
h4.card-title {
    text-align: center;
}
p.card-text {
    text-align: center;
   
}
.card-button {
	padding-top: 20px;
    text-align: center;
}